In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv("global_electricity_production_data.csv")

In [4]:
df.head()

,country_name,date,parameter,product,value,unit
0,Australia,12/1/2023,Net Electricity Production,Electricity,22646.1901,GWh
1,Australia,12/1/2023,Net Electricity Production,Total Combustible Fuels,13397.9356,GWh
2,Australia,12/1/2023,Net Electricity Production,"Coal, Peat and Manufactured Gases",9768.5223,GWh
3,Australia,12/1/2023,Net Electricity Production,Oil and Petroleum Products,289.5415,GWh
4,Australia,12/1/2023,Net Electricity Production,Natural Gas,3091.9272,GWh

In [3]:
print(df.dtypes)

country_name     object
date             object
parameter        object
product          object
value           float64
unit             object
dtype: object

In [7]:
# Convert 'date' column to datetime format Month/Day/Year
df['date'] = pd.to_datetime(df['date'], format='%m/%d/%Y')

In [ ]:
# Drop rows with missing data in column: 'value'
df = df.dropna(subset=['value'])