In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("../data/raw/global_electricity_production_data.csv")

In [8]:
df.head()

,country_name,date,parameter,product,value,unit
0,Australia,2023-12-01,Net Electricity Production,Electricity,22646.1901,GWh
1,Australia,2023-12-01,Net Electricity Production,Total Combustible Fuels,13397.9356,GWh
2,Australia,2023-12-01,Net Electricity Production,"Coal, Peat and Manufactured Gases",9768.5223,GWh
3,Australia,2023-12-01,Net Electricity Production,Oil and Petroleum Products,289.5415,GWh
4,Australia,2023-12-01,Net Electricity Production,Natural Gas,3091.9272,GWh

In [8]:
df.dtypes

country_name     object
date             object
parameter        object
product          object
value           float64
unit             object
dtype: object

In [ ]:
# Convert 'date' column to datetime format Month/Day/Year
df["date"] = pd.to_datetime(df["date"], format="%m/%d/%Y")

In [3]:
# Check for missing values in the entire DataFrame
df.isnull().sum()

country_name     0
date             0
parameter        0
product          0
value           14
unit             0
dtype: int64

In [ ]:
# Check for missing values in the "value" column to see the impact of the conversion
df[df["value"].isnull()]

,country_name,date,parameter,product,value,unit
67,Chile,12/1/2023,Remarks,Data is estimated for this month,NaN,GWh
94,Costa Rica,12/1/2023,Remarks,Data is estimated for this month,NaN,GWh
285,Japan,12/1/2023,Remarks,Data is estimated for this month,NaN,GWh
804,Costa Rica,11/1/2023,Remarks,Data is estimated for this month,NaN,GWh
1517,Costa Rica,10/1/2023,Remarks,Data is estimated for this month,NaN,GWh
2230,Costa Rica,9/1/2023,Remarks,Data is estimated for this month,NaN,GWh
2944,Costa Rica,8/1/2023,Remarks,Data is estimated for this month,NaN,GWh
3659,Costa Rica,7/1/2023,Remarks,Data is estimated for this month,NaN,GWh
4375,Costa Rica,6/1/2023,Remarks,Data is estimated for this month,NaN,GWh
5090,Costa Rica,5/1/2023,Remarks,Data is estimated for this month,NaN,GWh
5805,Costa Rica,4/1/2023,Remarks,Data is estimated for this month,NaN,GWh
6523,Costa Rica,3/1/2023,Remarks,Data is estimated for this month,NaN,GWh
7242,Costa Rica,2/1/2023,Remarks,Data is estimated for this month,NaN,GWh
7961,Costa Rica,1/1/2023,Remarks,Data is estimated for this month,NaN,GWh

In [ ]:
# Drop rows with missing data in column: "value"
df = df.dropna(subset=["value"])

In [ ]:
# check whether all values are the same
print(df["country_name"].unique())

['Australia' 'Austria' 'Belgium' 'Canada' 'Chile' 'Colombia' 'Costa Rica'
 'Czech Republic' 'Denmark' 'Estonia' 'Finland' 'France' 'Germany'
 'Greece' 'Hungary' 'Iceland' 'Ireland' 'Italy' 'Japan' 'Korea' 'Latvia'
 'Lithuania' 'Luxembourg' 'Mexico' 'Netherlands' 'New Zealand' 'Norway'
 'Poland' 'Portugal' 'Slovak Republic' 'Slovenia' 'Spain' 'Sweden'
 'Switzerland' 'Turkey' 'United Kingdom' 'United States' 'Argentina'
 'Brazil' 'Bulgaria' 'China' 'Croatia' 'Cyprus' 'India' 'Malta'
 'North Macedonia' 'Peru' 'Serbia']

In [ ]:
# Check for impossible dates (e.g., February 30th, April 31st)
def is_valid_date(date_str):
    try:
        pd.to_datetime(date_str, errors='raise')
        return True
    except:
        return False

# Apply the function to the 'date' column and filter out invalid dates
df['valid_date'] = df['date'].apply(is_valid_date)
invalid_dates = df[df['valid_date'] == False]

print("Total number of invalid dates found:", len(invalid_dates))
print("Invalid or impossible dates:")
print(invalid_dates['date'].to_list())

Total number of invalid dates found: 0
Invalid or impossible dates:
[]

In [ ]:
# Check for unique values in the "parameter" column
print(df["parameter"].unique())

['Net Electricity Production' 'Used for pumped storage'
 'Distribution Losses' 'Final Consumption (Calculated)' 'Total Imports'
 'Total Exports' 'Remarks']

In [ ]:
# Check for unique values in the "product" column
print(df["product"].unique())

['Electricity' 'Total Combustible Fuels'
 'Coal, Peat and Manufactured Gases' 'Oil and Petroleum Products'
 'Natural Gas' 'Combustible Renewables' 'Hydro' 'Wind' 'Solar'
 'Total Renewables (Hydro, Geo, Solar, Wind, Other)'
 'Other Combustible Non-Renewables' 'Geothermal' 'Not Specified' 'Nuclear'
 'Data is estimated for this month' 'Other Renewables']